<!DOCTYPE html>
<html>
<head>
	<title> Coronovarius Real-Time </title>
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.13.0/bodymovin.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.5.3/lottie.js"></script>
	<link rel="stylesheet" href="../static/resources/styles/general_css.css"/>
	<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/resources/favicon.ico">

</head>
	<body>
		<div class="loading" id="loading">
			<div class="anim" id="anim"></div>
			<div class="text" id="text">Sorry, we are updating the app</div>
		</div>

		<footer class='footer'>
			<div class='footer-class' style="font-family: 'Helvetica Light'">
				Made from <i class="em em-flag-au" aria-role="presentation" aria-label="Australia Flag"></i> by <a href="https://github.com/alejandrods" style="text-decoration: none; color: #008080;">Alejandro Diaz</a>
			</div>
		</footer>

		<script src="../static/main_update.js"></script>
	</body>
</html>